body {
	
    background-color: gray;
	height: 2000px;
	
	
}
@font-face {
	font-family: philo;
	src: url("Philosopher-Regular.ttf");
}
.stext {
	margin: auto;
	font-size: 50px;
	height: 400px;
	text-align: center;
	margin-left: 1072px;
	margin-top: 50px;
	font-family: sans-serif;
	position: fixed;
	color: #a6a6a6;
	text-shadow: 0px 1px 1px rgba(255,255,255,.3), -1px -2px 1px rgba(0,0,0,.7);
	font-size: 50px;
	font-weight: bold;
	
}
.main{
	
	margin: auto;
	align-items: center;
	
}
.header-logo{
	
	margin-left: -900px;
	margin-top: -70px;
	height: 105px;
	
}

.header{
	
	text-align: center;
	--tw-bg-opacity: 1;
    background-color: rgba(45,55,72,var(--tw-bg-opacity));
	height: 170px;
	
	 
}
.header-one a{
	text-decoration: none;
	color: white;
	padding-right: 30px;
	font-family: sans-serif;
 
}
.htext a:hover { 
	padding: 5px; 
	background-color: gray;
	border-radius: 5px;
}
.htext img{ 
	margin-left: 1000px;
	margin-top: -100px;
	
	
	
}

.img{
	height:50px;
	width: 160px;
	margin-left: 1100px;
	margin-top: -35px;
	position: absolute;
	
 
}
.htext a{
	text-decoration: none;
	color: white;
	padding: 5px;
	

}
.content{
	position: relative;
	text-align: center;
	margin: auto;
	margin-top: 25px;
	border-radius: 15px;
	height:px;
	
}
.container{
	margin: auto;
	width: 1000px;
	height: 500px;
}
.container1{
	background-color: white;
	width: 1000px;
	height: 1540px;
	text-align: center;
	margin: auto;
	margin-top: 25px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 10px 10px 15px black;
	background-image: linear-gradient(180deg, white, gray);
}
.content img{
	margin: auto;
	text-align: left;
	width: 1000px;
	height: 600px;
	border-radius: 10px;
	box-shadow: 10px 10px 15px black;
	
	
}
.label {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: white;
	font-size: 100px;
	font-family: sans-serif;
	text-shadow: 10px 10px black;
	font-weight: bold;
	opacity: 0.8;
	width: 1000px;
}
.label2 {
	
	position: absolute;
	bottom: 225px;
	left: 190px;	
	color: white;
	font-size: 30px;
	font-family: sans-serif;
	text-shadow: 10px 10px black;
	font-weight: bold;
	opacity: 0.8;
}
.label3 {
	margin: auto;
	top: 8px;
	left: 16px;
	position: absolute;
	color: black;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	background-color: white;
	border-top-right-radius: 25px;
	padding-bottom: -10px;
	padding-top: 5px;
	border-bottom-right-radius: 25px;
	width: 120px;
	height: 26px;
	text-align: center;
	
	
}
.column {
  margin-top: 30px;
  margin-left: 20px;
  float: left;
  padding: 10px;
}
.column.side {
  width: 25%;
  text-align: left;
}
.text{
  width: 25%;
  font-weight: bold;
  width: 400px;
  font-size: 40px;
  font-family: philo;
  text-shadow: 5px 5px 5px #807b6e;
}
.column.side p{
  font-size: 19px;
  text-align: justify;
  margin-left: 20px;
  width: 280px;
  font-family: sans-serif;
}
.details{
	font-size: 100px;
}
/* Middle column */
.column.middle {
  width: 50%;
}

.column.middle img{
  width: 100%;
  margin-left: 100px;
  margin-top: 30px;
  box-shadow: 10px 10px 5px #807b6e;
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: philo;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px #626363;
}
.column2 {
  margin-top: 30px;
  margin-left: 20px;
  float: left;
  padding: 10px;
}
.column.side2 {
  width: 40%;
  text-align: left;
}
.text2{
  text-align: right;
  width: 25%;
  font-weight: bold;
  width: 500px;
  font-size: 40px;
  font-family: philo;
  text-shadow: 5px 5px 5px #807b6e;
}
.column.side2 img{
  width: 120%;
  margin-left: 50px;
  margin-top: 30px;
  box-shadow: -10px 10px 5px #807b6e;
}
.details{
	font-size: 100px;
}
/* Middle column */
.column.middle2 {
  width: 25%;
}

.column.middle2 p{
  font-size: 19px;
  text-align: justify;
  margin-left: 180px;
  width: 280px;
  font-family: sans-serif;
  
}
.row2:after {
  content: "";
  display: table;
  clear: both;
}
.button2 {
  background-color: #4CAF50;
  width: 200px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 290px;
  box-shadow: 5px 5px 5px #626363;
  cursor: pointer;
  font-family: philo;
  border-radius: 10px;
  margin-top: 20px;
}

.column2{
  text-align: center;
  width: 25%;
  font-weight: bold;
  width: 500px;
  font-size: 40px;
  font-family: philo;
  text-shadow: 5px 5px 5px #807b6e;
  margin-left: 256px;
}
* {
  box-sizing: border-box;
}

.column3 {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
   padding: 5px;
  margin-left: 35px;
  width: 29.33%;
  height: 485px;
}
.column3 img{
  box-shadow: 0px 10px 5px #807b6e;
  
}
.button3 {
  background-color: #4CAF50;
  width: 200px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px;
  cursor: pointer;
  font-family: philo;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px #626363;
}
.button4 {
  background-color: #4CAF50;
  width: 200px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px;
  cursor: pointer;
  font-family: philo;
  border-radius: 10px;
  margin-top: 36px;
  box-shadow: 5px 5px 5px #626363;
}

/* Clearfix (clear floats) */
.row3::after {
  content: "";
  clear: both;
  display: table;
}

.column4 {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
   padding: 5px;
  margin-left: 18px;
   width: 31.33%;
   height: 485px;
}
.column4 img{
  box-shadow: 0px 10px 5px #807b6e;
}
.column5 {
   margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
   padding: 5px;
  margin-left: 18px;
  height: 485px;
  width: 27.10%;
  padding: 5px;
  margin-left: 20px;
 
}
.column5 img{
  box-shadow: 0px 10px 5px #807b6e;
}
.text4{
  text-align: right;
  width: 25%;
  font-weight: bold;
  margin-top: 10px;
  font-size: 25px;
  font-family: philo;
  text-shadow: 5px 5px 5px #807b6e;
  margin-left: 10px;
}
.row3 p{
  margin-left: 10px;
  margin-top: 20px;
  font-size: 17px;
  text-align: justify;
  width: 250px;
  font-family: sans-serif;
}	


.column3:hover {
  border: 1px solid #777;
}
.column4:hover {
  border: 1px solid #777;
}
.column5:hover {
  border: 1px solid #777;
}
#footer { margin-top: 50px; }
#footer #footer-container { margin: auto; width: 900px; }
#footer #footer-container .footer-c { float: left; width: 250px; margin-left: 38px;  }
#footer #footer-container .footer-c .footer-c-list a:hover { 
	padding: 5px; 
	background-color: #919492;
	border-radius: 5px;
}
#footer #footer-container .footer-c .footer-c-list h3 { font-family: philo; width: 100%; margin-top: 70px; color: #c3c7c4; margin-bottom: 20px; font-size: 20px; }
#footer #footer-container .footer-c .footer-c-list a { padding: 5; font-family: philo; text-decoration: none; color: #c3c7c4; line-height: 2; }
#footer #footer-container .footer-c .footer-c-list p { text-align: justify; font-family: philo; color: #c3c7c4; line-height: auto; }

#copyright hr { margin-bottom: 20px; }
#copyright { clear: both; width: 900px; height: 50px; margin-left: 10px;  padding-top: 20px; padding-bottom: 80px; }
#copyright p { font-family: philo; color: #c3c7c4; font-size: 15px; }
#copyright a { color: #FFFFFF; text-decoration: none; }

input[type=text], select {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}